body{
    background-color:yellow;
}

.title{
    text-align:center;
    padding-bottom:5px;
}

.text{
    text-align: center;
}

.photo img{
    height: 200px;
    width: 200px;
    margin-left: 70px;
    border-radius:20px;
}